In [ ]:
In our last classes we learnt a lot of many supervised machine learning algorithm.
Today we re going to learn about how to deal with text data.
1. Text classification ---- ham/spam classification.
2. Sentiment Analysis.
The field in which we process or work on text data is known as Natural language Processing.
NLP ek bht badi stream h. Log P.hd krte h in NLP.
Some common ML related NLP models are.
1. Bag of words model
2. Tf-IDF and word vectorizer ---- in deailed manner we will learn them in D.L
3. N-grams and Embeddings ---- AI

In [ ]:
some applications of NLP : siri,alexa,cortana.sentiment analysis,chatbot,ham/spam classification,Machine Translation.

In [ ]:
1. Bag of words model ---- is very much similar to one-hot encoding.
system kon si language samjhta h?
jitne aaple m.l yea d.l k models h wo humesha data numeric form m lete h.
The process of converting text data into numerical document vectors is been performed by using bag of words model.

In [ ]:
   1. It was the best of times,
    it was the worst of times,
    it was the age of wisdom,
    it was the age of foolishness,
Terminology : complete text ---- corpus and each line is called document.
    How many documents are there?
    Ans : 4
To apply bag of words model we first have to create a vocubulary.
It   1. [1,1,1,1,1,1,0,0,0,0]
was  2. [1,1,1,0,1,1,1,0,0,0]
the  3. [1,1,1,0,1,1,0,1,0]
best 4. [1,1,1,0,1,0,0,1,0,1]
of 
times
worst
age
wisdom
foolishness
ye to bht small data tha but in real time aisa nhi hoga, so humari jo sparse matrix h wo
bht bde size ki bnegi ab uske lie hum kya kr sakte?
so hum apne data ki cleaning krege. With text data cleaning can be performed in may ways.
1. Removal of stop words --- frequently occuring words
2. Removal of Punctuations --- %,@,#,?./
3. Ignoring case --- THE yea fir the 
4. Stemming --- go,going,goes --- root word? --- go
All these steps helps us to reduce the vocabulary size hence there will be the reduction in
sparse matrix size as well.
Ab baat aati h ki how are going to perform these tasks.
we need a library known as NLTK --- natural language toolkit.
and we need to install it:
    anaconda prompt : conda install nltk.
        uske baad jupyter nb pr aana and write 
        import nltk
        nltk.download()
Now we are going to see its implementation :

In [1]:
import nltk

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
messages = pd.read_csv("SMSSpamCollection",sep = "\t",names = ["label","message"])

In [4]:
messages.head()

  label                                            message
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [5]:
messages.describe()

       label                 message
count   5572                    5572
unique     2                    5169
top      ham  Sorry, I'll call later
freq    4825                      30

In [6]:
messages.groupby("label").describe()

      message
        count unique                                                top freq
label
ham      4825   4516                             Sorry, I'll call later   30
spam      747    653  Please call our customer service representativ...    4

In [7]:
messages["length"] = messages["message"].apply(len)

In [8]:
messages.head()

  label                                            message  length
0   ham  Go until jurong point, crazy.. Available only ...     111
1   ham                      Ok lar... Joking wif u oni...      29
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155
3   ham  U dun say so early hor... U c already then say...      49
4   ham  Nah I don't think he goes to usf, he lives aro...      61

In [9]:
messages.length.describe()

count    5572.000000
mean       80.489950
std        59.942907
min         2.000000
25%        36.000000
50%        62.000000
75%       122.000000
max       910.000000
Name: length, dtype: float64

In [10]:
messages[messages["length"] == 910]["message"].iloc[0]

"For me the love should start with attraction.i should feel that I need her every time around me.she should be the first thing which comes in my thoughts.I would start the day and end it with her.she should be there every time I dream.love will be then when my every breath has her name.my life should happen around her.my life will be named to her.I would cry for her.will give all my happiness and take all her sorrows.I will be ready to fight with anyone for her.I will be in love when I will be doing the craziest things for her.love will be when I don't have to proove anyone that my girl is the most beautiful lady on the whole planet.I will always be singing praises for her.love will be when I start up making chicken curry and end up makiing sambar.life will be the most beautiful then.will get every morning and thank god for the day because she is with me.I would like to say a lot..will tell later.."

In [15]:
import string
mess = "sample message! notice : it has punctuations."
#check characters to see if they are in punctuations.
nopunc = [char for char in mess if char not in string.punctuation]
#join the chars again
nopunc =  "".join(nopunc)

In [16]:
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [17]:
nopunc

'sample message notice  it has punctuations'

In [18]:
from nltk.corpus import stopwords
stopwords.words("english")[0:10]

['i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're"]

In [19]:
nopunc.split()

['sample', 'message', 'notice', 'it', 'has', 'punctuations']

In [20]:
clean_mess = [word for word in nopunc.split() if word.lower() not in stopwords.words("english")]

In [21]:
clean_mess

['sample', 'message', 'notice', 'punctuations']

In [22]:
def text_process(mess):
    #check characters to see if they are in punctuations.
    nopunc = [char for char in mess if char not in string.punctuation]
     #join the chars again
    nopunc =  "".join(nopunc)
    #Now just remove stop words
    return [word for word in nopunc.split() if word.lower() not in stopwords.words("english")]

In [24]:
messages.head()

  label                                            message  length
0   ham  Go until jurong point, crazy.. Available only ...     111
1   ham                      Ok lar... Joking wif u oni...      29
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...     155
3   ham  U dun say so early hor... U c already then say...      49
4   ham  Nah I don't think he goes to usf, he lives aro...      61

In [26]:
messages["message"].head().apply(text_process)

0    [Go, jurong, point, crazy, Available, bugis, n...
1                       [Ok, lar, Joking, wif, u, oni]
2    [Free, entry, 2, wkly, comp, win, FA, Cup, fin...
3        [U, dun, say, early, hor, U, c, already, say]
4    [Nah, dont, think, goes, usf, lives, around, t...
Name: message, dtype: object

In [ ]:
Ab yha tak mera data clean ho gya ab next mereko iske upr bag of words apply krna h.
jab bhi aap text xlassification karoge to humesha 3 steps yaad rakhne h.
1. countvectorizer ---- bag of words model.
2. Tf-Idf transformer --- kon sa word kitna important or kon s word ki kitni weightage h.
Term frequency and inverse document frequency.
3. Classifier ---- MultinomialNB.
acc to tf-idf algorith jyada baar occur hone wale words less important hote h
as compare to kam times occur hote h?